@{
  Layout = "_Layout";
}
@using VendorTracker.Models;

<div class="container">
  <div class="card">
    <div class="card-body">
      <h3>Here are all the orders</h3>
      <ol>
        @foreach (Order order in @Model["order"])
        {
          <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Description</a></li>
        }
      </ol>
      <p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></p>
    </div>
  </div>
</div>