@{
  Layout = "_Layout";
}
<form action="/orders" method="post">
      <label for="description">Make a new order</label>
      <input id="title" name="title" type="text">
      <button type="submit">Submit</button>
    </form>