@{
  Layout = "_Layout";
}
<h1>Welcome to Pierre's Bakery</h1>
<ul>
      <li>@Model.Title</li>
      <li>@Model.Description</li>
      <li>$@Model.Price</li>
  </ul>

<a href="orders/new">New Order</a>