@{
  Layout = "_Layout";
}
<div id="header">
<h1>Welcome to Pierre's Bakery</h1>
</div>

<ul class="list-group">
  <li class="list-group-item"><a class="list-group-item list-group-item-action"href='/vendors/new'>New vendor</a></li>
  <li class="list-group-item"><a class="list-group-item list-group-item-action"href='/vendors'>See list of vendors</a></li>
</ul>

