@{
  Layout = "_Layout";
}
<div class="container">
  <div class="form-group">
    <form action="/vendors/@Model.Id/orders" method="post">
      <input id="vendorId" name="vendorId" type="hidden" class="form-control" value="@Model.Id">
      <label for="orderTitle">Order Title</label>
      <input id="orderTitle" name="orderTitle" type="text" class="form-control">
      <label for="orderDescription">Order Description</label>
      <input id="orderDescription" name="orderDescription" type="text" class="form-control">
      <label for="orderPrice">Order Price</label>
      <input id="orderPrice" name="orderPrice" type="text" class="form-control">
      <button type='submit'>Add Order</button>
    </form>
  </div>
</div>