@{
  Layout = "_Layout";
}

<div class="container">
  <div class="card">
    <div class="card-body">
      <h2>@Model["order"].Title</h2>
      <h3>Vendor: @Model["vendor"].Name</h3>
      <a href='/vendors/@Model["vendor"].Id/order/new'>Add another item</a>
    </div>
  </div>
</div>